@charset "UTF-8";

body{
    margin: 0;  	
    padding: 0;
    text-align: center;
}
.bodyLogin{
    background-image: linear-gradient(to right, #3778C8, #179DBD, #1AB5D9, #1FD6F6);
    justify-content: center;
    align-items: center;
}
.text{
    color: #1AB5D9;
    font-size: larger; 
    font-family: calibri, sans-serif;
}
#barraMenu{
    margin: 0;  	
    padding: 0; 
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #1FD6F6, #1AB5D9);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
}
#barraMenu{
    margin: 0;  	
    padding: 0; 
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #1FD6F6, #1AB5D9);
}
#usuarioLogado{
    float: right;
    margin: 0;  	
    padding: 0;
    width: 200px;
    height: 60px;
    transition: background-color 0.3s;
}
#usuarioLogado:hover{
    background-color: #179DBD;
}
#opMenu{
    margin: 0;  	
    padding: 0;
    width: 50px;
    height: 60px;
    float: right;
    transition: background-color 0.3s;
}
#opMenu:hover{
    background-color: #179DBD;
}
#content{
    margin: 20px 0px 0px 2.5%;  	
    padding: 0;
    height: 85%;
    width: 95%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    /*
    box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
    */
}
#conteiner{
    height: 100%;
    width: 100%;
    top: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.botao{
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: #1AB5D9;
    transition: background-color 0.3s;
}
.botao:hover{
    background-color: #1FD6F6;

}
#loginForm{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-width: 2pt;
    border-style: solid;
    border-color: #A8A8A8;
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
    border-radius: 500px;
    justify-content: center; 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}
.botaoLogin{
    color: #1AB5D9;
    font-size: larger; 
    font-family: calibri, sans-serif;
    font-weight: normal;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    background-image: linear-gradient(to right, white, white);
}
.botaoLogin:hover{
    color: white;
    border-color: #1AB5D9;
    background-image: linear-gradient(to right, #1AB5D9, #1AB5D9);
    /*
    box-shadow: inset 0 -3px 6px 0 rgba(0,0,0,0.2);
    */
}
.caixaTexto{
    width: 150px;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
