<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sptd</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- para criar as tabelas sempre que executar pode ser usado o valor create - para apenas atualizar usa-se update -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <mapping class="br.edu.ifpr.irati.modelo.ProjetoExtensao"/>
        <mapping class="br.edu.ifpr.irati.modelo.Horario"/>
        <mapping class="br.edu.ifpr.irati.modelo.Participacao"/>
        <mapping class="br.edu.ifpr.irati.modelo.Usuario"/>
        <mapping class="br.edu.ifpr.irati.modelo.ProjetoPesquisa"/>
        <mapping class="br.edu.ifpr.irati.modelo.Curso"/>
        <mapping class="br.edu.ifpr.irati.modelo.OutroTipoAtividade"/>
    
    </session-factory>
</hibernate-configuration>
